/*********************
VARIABLES
*********************/
/*********************
SETUP
*********************/
html, body {
  height: 100%;
  width: 100%; }

html {
  font-size: 24px; }

body {
  font-family: "Roboto", sans; }

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

a {
  text-decoration: underline; }

/*********************
GENERAL
*********************/
#pageWrapper {
  max-width: 960px;
  margin: 0 auto; }

.activePage {
  display: block !important; }

.hidePage {
  display: none; }

/*********************
HEADER
*********************/
header {
  height: 200px;
  background: #3A0256;
  color: white;
  display: flex;
  margin-bottom: 50px; }
  header #headerLeft {
    width: 70%;
    display: flex; }
    header #headerLeft #headerLeftBlock {
      width: 100%;
      display: flex; }
      header #headerLeft #headerLeftBlock #headerLeftLogo {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center; }
        header #headerLeft #headerLeftBlock #headerLeftLogo img {
          cursor: pointer;
          width: 150px;
          height: 150px; }
      header #headerLeft #headerLeftBlock #headerLeftTitle {
        width: 75%;
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        header #headerLeft #headerLeftBlock #headerLeftTitle h1 {
          font-size: 3.5rem;
          font-weight: lighter;
          font-family: "Alex Brush", cursive; }
  header #headerRight {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    header #headerRight #headerRightBlock {
      width: 100%;
      height: 60%;
      display: flex;
      align-items: center; }
      header #headerRight #headerRightBlock #logInForm {
        height: 100%;
        display: flex;
        flex-direction: column;
        font-size: .75rem;
        font-weight: lighter; }
        header #headerRight #headerRightBlock #logInForm #logInInput {
          height: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center; }
          header #headerRight #headerRightBlock #logInForm #logInInput > label {
            color: white; }
          header #headerRight #headerRightBlock #logInForm #logInInput > input {
            height: 50%;
            padding: 2.5px;
            width: 90%;
            border: 1px solid white;
            background-color: #3A0256;
            padding: 2.5px;
            text-align: center; }
            header #headerRight #headerRightBlock #logInForm #logInInput > input:focus {
              outline: 0; }
        header #headerRight #headerRightBlock #logInForm #logInSubmit {
          height: 50%;
          display: flex;
          justify-content: center;
          align-items: center; }
          header #headerRight #headerRightBlock #logInForm #logInSubmit > input {
            width: 90%;
            background: #3A0256;
            border: 1px solid white;
            padding: 10px 0; }
    header #headerRight #headerRightBlock2 {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      header #headerRight #headerRightBlock2 #headerRightBlock2Inner {
        height: 80%;
        width: 60%;
        display: flex;
        align-items: center; }
        header #headerRight #headerRightBlock2 #headerRightBlock2Inner #usernameBlock {
          height: 35%;
          display: flex;
          justify-content: center;
          align-items: flex-end; }
        header #headerRight #headerRightBlock2 #headerRightBlock2Inner #cartBlock {
          cursor: pointer;
          position: relative;
          transition: all .25s ease;
          -webkit-transition: all .25s ease;
          display: flex; }
          header #headerRight #headerRightBlock2 #headerRightBlock2Inner #cartBlock > div {
            text-align: center; }
          header #headerRight #headerRightBlock2 #headerRightBlock2Inner #cartBlock #cartBlockImage {
            width: 100%; }
            header #headerRight #headerRightBlock2 #headerRightBlock2Inner #cartBlock #cartBlockImage i {
              font-size: 4rem;
              transition: all .25s ease;
              -webkit-transition: all .25s ease; }
          header #headerRight #headerRightBlock2 #headerRightBlock2Inner #cartBlock #cartBlockAmount {
            position: absolute;
            color: #B31212;
            top: 25px;
            right: 30px;
            transition: all .25s ease;
            -webkit-transition: all .25s ease; }
          header #headerRight #headerRightBlock2 #headerRightBlock2Inner #cartBlock:hover i {
            color: #B31212; }
          header #headerRight #headerRightBlock2 #headerRightBlock2Inner #cartBlock:hover #cartBlockAmount {
            color: white; }

.inactiveHeaderRightBlock {
  display: none !important; }

/*********************
CATALOG PAGE
*********************/
#catalogPage {
  display: none; }
  #catalogPage #catalogPageTitle {
    padding: 25px 0;
    border-bottom: 1px solid #3A0256; }
    #catalogPage #catalogPageTitle h2 {
      font-size: 2.5rem;
      font-weight: lighter;
      color: #3A0256; }
  #catalogPage #catalogPageContent {
    padding: 25px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    #catalogPage #catalogPageContent .catalogProductBlock {
      width: 22.5%;
      height: 300px;
      margin-bottom: 25px;
      cursor: pointer;
      color: white;
      transition: all .25s ease;
      -webkit-transition: all .25s ease;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #catalogPage #catalogPageContent .catalogProductBlock .catalogProductBlockImage {
        width: 100%;
        height: 200px;
        /* background-color: $primaryColor; */ }
        #catalogPage #catalogPageContent .catalogProductBlock .catalogProductBlockImage img {
          width: 100%; }
      #catalogPage #catalogPageContent .catalogProductBlock .catalogProductBlockInfo {
        width: 100%;
        height: 100px;
        background-color: #3A0256;
        border: 1px solid #3A0256;
        text-align: center; }
        #catalogPage #catalogPageContent .catalogProductBlock .catalogProductBlockInfo .catalogProductBlockTitle {
          height: 80px;
          font-weight: lighter;
          font-size: 1.15rem;
          display: flex;
          align-items: center;
          justify-content: center; }
        #catalogPage #catalogPageContent .catalogProductBlock .catalogProductBlockInfo .catalogProductBlockPrice {
          height: 20px;
          font-size: .6rem;
          padding-bottom: 2.5px;
          display: flex;
          align-items: center;
          justify-content: center; }
      #catalogPage #catalogPageContent .catalogProductBlock:hover {
        color: #3A0256;
        background-color: white; }
        #catalogPage #catalogPageContent .catalogProductBlock:hover > * {
          background-color: white; }

/*********************
PRODUCT PAGE
*********************/
#productPage {
  display: none; }
  #productPage #productPageTitle {
    padding: 25px 0;
    border-bottom: 1px solid #3A0256; }
    #productPage #productPageTitle h2 {
      font-size: 2.5rem;
      font-weight: lighter;
      color: #3A0256; }
  #productPage #productPageContent {
    margin: 25px 0;
    display: flex; }
    #productPage #productPageContent #productPageLeft {
      width: 50%; }
    #productPage #productPageContent #productPageRight {
      width: 50%;
      display: flex;
      justify-content: center; }
      #productPage #productPageContent #productPageRight #productPageRightBlock {
        width: 80%;
        color: #3A0256; }
        #productPage #productPageContent #productPageRight #productPageRightBlock > div {
          margin-bottom: 15px; }
        #productPage #productPageContent #productPageRight #productPageRightBlock #productDescriptionBlock {
          font-family: "Roboto Slab", serif; }
        #productPage #productPageContent #productPageRight #productPageRightBlock #productPriceBlock {
          text-align: center;
          font-size: 1.5rem;
          font-weight: lighter; }
        #productPage #productPageContent #productPageRight #productPageRightBlock #productCartBlock {
          text-align: center; }
          #productPage #productPageContent #productPageRight #productPageRightBlock #productCartBlock button {
            background-color: #B31212;
            border: 3px solid white;
            padding: 15px;
            font-weight: lighter;
            color: white;
            transition: all .25s ease;
            -webkit-transition: all .25s ease; }
            #productPage #productPageContent #productPageRight #productPageRightBlock #productCartBlock button:hover {
              border-color: #B31212;
              color: #B31212;
              background-color: white; }
            #productPage #productPageContent #productPageRight #productPageRightBlock #productCartBlock button:focus {
              outline: 0; }

/*********************
CART PAGE
*********************/
#cartPage {
  display: none; }
  #cartPage #cartPageTitle {
    padding: 25px 0;
    border-bottom: 1px solid #3A0256; }
    #cartPage #cartPageTitle h2 {
      font-size: 2.5rem;
      font-weight: lighter;
      color: #3A0256; }
  #cartPage #cartPageContent {
    margin: 25px 0; }
    #cartPage #cartPageContent #cartItemsBlock {
      border: 1px solid #3A0256; }
      #cartPage #cartPageContent #cartItemsBlock .cartItem {
        width: 80%;
        height: 150px;
        margin: 0 auto;
        border-bottom: 1px solid #3A0256;
        display: flex;
        flex-wrap: wrap; }
        #cartPage #cartPageContent #cartItemsBlock .cartItem:last-child {
          border: none; }
        #cartPage #cartPageContent #cartItemsBlock .cartItem > div {
          width: 33%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
        #cartPage #cartPageContent #cartItemsBlock .cartItem .cartItemImage img {
          height: 100px;
          width: 100px; }
        #cartPage #cartPageContent #cartItemsBlock .cartItem .cartItemRight > div {
          width: 50%;
          text-align: center; }
        #cartPage #cartPageContent #cartItemsBlock .cartItem .cartItemRight .cartItemDeleteBlock {
          height: 100%;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center; }
          #cartPage #cartPageContent #cartItemsBlock .cartItem .cartItemRight .cartItemDeleteBlock .cartItemDelete {
            height: 50%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .25s ease;
            -webkit-transition: all .25s ease; }
            #cartPage #cartPageContent #cartItemsBlock .cartItem .cartItemRight .cartItemDeleteBlock .cartItemDelete:hover {
              background-color: #B31212;
              color: white;
              font-size: 1.5rem; }
    #cartPage #cartPageContent #cartInfoBlock {
      width: 90%;
      margin: 0 auto; }
      #cartPage #cartPageContent #cartInfoBlock #cartTotalPriceBlock {
        height: 75px;
        display: flex;
        justify-content: flex-end; }
        #cartPage #cartPageContent #cartInfoBlock #cartTotalPriceBlock #cartTotalPrice {
          width: 20%;
          height: 100%;
          font-size: 2rem;
          font-weight: lighter;
          display: flex;
          align-items: center;
          justify-content: center; }
      #cartPage #cartPageContent #cartInfoBlock #cartCheckOutBlock {
        height: 75px;
        display: flex;
        justify-content: flex-end; }
        #cartPage #cartPageContent #cartInfoBlock #cartCheckOutBlock #cartCheckOut {
          width: 20%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center; }
          #cartPage #cartPageContent #cartInfoBlock #cartCheckOutBlock #cartCheckOut button {
            background-color: #B31212;
            border: 3px solid white;
            padding: 18px;
            font-weight: lighter;
            color: white;
            transition: all .25s ease;
            -webkit-transition: all .25s ease; }
            #cartPage #cartPageContent #cartInfoBlock #cartCheckOutBlock #cartCheckOut button:hover {
              border-color: #B31212;
              color: #B31212;
              background-color: white; }
            #cartPage #cartPageContent #cartInfoBlock #cartCheckOutBlock #cartCheckOut button:focus {
              outline: 0; }

/*********************
FOOTER
*********************/
footer {
  background-color: #3A0256;
  display: flex;
  color: white;
  padding-bottom: 25px; }
  footer #footerLeft {
    width: 50%;
    display: flex;
    justify-content: center; }
    footer #footerLeft #footerLeftBlock {
      width: 90%; }
      footer #footerLeft #footerLeftBlock #footerLeftBlockTitle {
        text-align: left;
        padding: 15px 0; }
        footer #footerLeft #footerLeftBlock #footerLeftBlockTitle h3 {
          font-size: 2rem;
          font-weight: lighter; }
      footer #footerLeft #footerLeftBlock #footerLeftBlockContent {
        font-size: .7rem;
        font-family: "Roboto Slab", serif; }
  footer #footerRight {
    width: 50%;
    display: flex;
    justify-content: center; }
    footer #footerRight #footerRightBlock {
      width: 75%; }
      footer #footerRight #footerRightBlock #footerRightBlockTitle {
        text-align: center;
        padding: 15px 0; }
        footer #footerRight #footerRightBlock #footerRightBlockTitle h3 {
          font-size: 2rem;
          font-weight: lighter; }
      footer #footerRight #footerRightBlock #footerRightBlockContent {
        font-size: .7rem;
        font-weight: lighter;
        font-family: "Roboto Slab", serif; }
        footer #footerRight #footerRightBlock #footerRightBlockContent .contactBlock {
          display: flex;
          justify-content: flex-end;
          margin-bottom: 15px; }
          footer #footerRight #footerRightBlock #footerRightBlockContent .contactBlock .contactLabel {
            width: 50%;
            text-align: center;
            font-weight: bolder; }
          footer #footerRight #footerRightBlock #footerRightBlockContent .contactBlock .contactInfo {
            width: 50%; }

/*# sourceMappingURL=styles.css.map */
