/*********************
VARIABLES
*********************/

$sansFont: 'Roboto', sans;
$scriptFont: 'Alex Brush', cursive;
$mainFont: black;
$headerFont: white;
$primaryColor: #3A0256;
$secondaryColor: #FFE600;
$tertiaryColor: white;

/*********************
SETUP
*********************/

html, body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 24px;
}

body {
  font-family: $sansFont;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,ul,li,p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: underline;
}

/*********************
GENERAL
*********************/

#pageWrapper {
  max-width: 960px;
  margin: 0 auto;
}

/*********************
HEADER
*********************/

header {
  height: 200px;
  background: $primaryColor;
  color: $secondaryColor;
  display: flex;
  margin-bottom: 50px;

  #headerLeft {
    width: 80%;
    display: flex;

    #headerLeftBlock {
      width: 100%;
      display: flex;

      #headerLeftLogo {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 150px;
          height: 150px;
        }
      }

      #headerLeftTitle {
        width: 75%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        h1 {
          font-size: 3.5rem;
          font-weight: lighter;
          font-family: $scriptFont;
        }
      }
    }
  }

  #headerRight {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    #headerRightBlock {
      width: 100%;
      height: 60%;

      #logInForm {
        height: 100%;
        display: flex;
        flex-direction: column;
        font-size: .75rem;
        font-weight: lighter;

        #logInInput {
          height: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;

          > label {
            color: $secondaryColor;
          }

          > input {
            height: 50%;
            padding: 2.5px;
            width: 90%;
            border: 1px solid $secondaryColor;
            background-color: $primaryColor;
            padding: 2.5px;
            text-align: center;

            &:focus {
              outline: 0;
            }
          }
        }

        #logInSubmit {
          height: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          > input {
            width: 90%;
            background: $primaryColor;
            border: 1px solid $secondaryColor;
            padding: 10px 0;
          }
        }
      }
    }
  }
}

/*********************
CATALOG PAGE
*********************/

#catalogPage {


  #catalogPageTitle {
    padding: 25px 0;
    border-bottom: 1px solid $primaryColor;

    h2 {
      font-size: 2.5rem;
      font-weight: lighter;
      color: $primaryColor;
    }
  }

  #catalogPageContent {
    padding: 25px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .catalogProductBlock {
      width: 22.5%;
      margin-bottom: 25px;
      cursor: pointer;
      color: $tertiaryColor;
      transition: all .25s ease;
      -webkit-transition: all .25s ease;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .catalogProductBlockImage {
        width: 100%;
        background-color: $primaryColor;

        img {
          width: 100%;
        }
      }

      .catalogProductBlockInfo {
        width: 100%;
        background-color: $primaryColor;
        text-align: center;

        .catalogProductBlockTitle {
          font-weight: lighter;
          font-size: 1.15rem;
        }

        .catalogProductBlockPrice {
          font-size: .6rem;
          padding-bottom: 2.5px;
        }
      }

      &:hover {
        color: $secondaryColor;
      }
    }
  }
}

/*********************
FOOTER
*********************/

footer {
  background-color: $primaryColor;
}
